@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:regular,700");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Ubuntu:400");

@font-face {
  font-family: "Futura";
  font-display: swap;
  src: url("../fonts/ofont.ru_Futura PT.woff2") format("woff2"), url("../fonts/ofont.ru_Futura PT.woff") format("woff");
  font-weight: 800;
  font-style: bold;
}

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

/* И подключение системных шрифтов */

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
  font-size: 20px;
  height: 50px;
}

.input._error {
  border: 2px solid red;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

/*--------------------*/

html,
body {
  height: 100%;
}

body {
  color: #fff;
  font-size: 48px;
  font-family: "Montserrat";
  background-color: #273947;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  font-family: "PlayfairDisplaySC";
  line-height: 116.6666666667%;
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 48px;
  margin-bottom: 110px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.subtitle {
  font-family: "PlayfairDisplaySC";
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.subtitle.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.padding {
  padding-top: 120px;
  padding-bottom: 120px;
}

.image {
  position: relative;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.image img {
  position: relative;
  border-radius: 2px;
}

.image::before {
  border-radius: 2px;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  left: 20px;
  z-index: -1;
  background-color: #f07f18;
}

/* ==================================== */

/* Header */

/* ==================================== */

body.pc .menu__list > li:hover .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body.touch .menu__arrow {
  display: block;
  width: 0;
  height: 0;
  margin-left: 5px;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #333;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

body.touch .menu__list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.touch .menu__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.touch .menu__list > li.active .menu__sub-list {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: all;
}

body.touch .menu__list > li.active .menu__arrow {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 70px;
}

.header.scroll .header__wrapper {
  padding: 5px 0;
}

.header__wrapper {
  padding: 27px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #516c81;
  -webkit-transition: padding 0.3s ease;
  -o-transition: padding 0.3s ease;
  transition: padding 0.3s ease;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo img {
  width: 100%;
}

/* ==================================== */

/* Menu Burger */

/* ==================================== */

.menu__icon {
  display: none;
}

.menu__list > li {
  position: relative;
}

.menu__link {
  color: #fff;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  opacity: 1;
  -webkit-transition: opavity 0.3s ease;
  -o-transition: opavity 0.3s ease;
  transition: opavity 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header__button {
  padding: 14px 26px;
  color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  margin-left: 60px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer {
  background-color: #516c81;
  padding: 0 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr minmax(auto, 1220px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1220px) 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}

.footer__wrapper {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  -webkit-column-gap: 165px;
     -moz-column-gap: 165px;
          column-gap: 165px;
}

.footer__text,
.footer__link,
.footer__title {
  font-weight: 500;
  line-height: 250%;
  font-size: 16px;
  color: #e5e5e5;
}

.footer__text-about {
  line-height: 150%;
}

.footer__title {
  font-size: 20px !important;
}

.footer__button {
  color: #fff;
  padding: 0 30px;
  border: 1px solid #fff;
  min-height: 55px;
  gap: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer__button picture {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 12px;
  height: 12px;
}

/* ==================================== */

/* Popup */

/* ==================================== */

.popup {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  min-height: 100%;
  padding: 30px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup__content {
  max-width: 800px;
  padding: 20px;
  background-color: #fff;
  color: #000;
  position: relative;
  opacity: 0;
  -webkit-transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
          transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
          transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
}

.popup__close {
  width: 20px;
  height: 15px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
}

.popup__close::before,
.popup__close::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  left: 0;
  background-color: #333;
}

.popup__close::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0, -50%);
      -ms-transform: rotate(-45deg) translate(0, -50%);
          transform: rotate(-45deg) translate(0, -50%);
}

.popup__close::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0, 50%);
      -ms-transform: rotate(45deg) translate(0, 50%);
          transform: rotate(45deg) translate(0, 50%);
}

.popup__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1em;
}

.popup__text {
  font-size: 20px;
  line-height: 150%;
}

body.pc .intro__image {
  background-attachment: fixed;
}

.intro {
  min-height: 100vh;
  position: relative;
}

.intro .intro__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.intro__content {
  position: relative;
  z-index: 2;
  margin-top: 102px;
}

.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro-top {
  text-align: right;
  padding: 76px 0;
  padding-bottom: 116px;
}

.intro-suptitle {
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  font-size: 20px;
}

.intro-suptitle-caption {
  font-size: 14px;
}

.intro-bottom {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 500px;
          flex: 0 1 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro-bottom-left {
  max-width: 340px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.intro-bottom-left h4 {
  position: relative;
  margin-bottom: 40px;
}

.intro-bottom-left h4::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  bottom: -20px;
  left: 0;
  background-color: #fff;
}

.intro-bottom-right {
  text-align: right;
  max-width: 550px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
  position: relative;
}

.intro-bottom-right .intro-buttom-background {
  position: absolute;
  z-index: -1;
  top: -30px;
  right: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 508px 378px 0;
  border-color: transparent #f07f18 transparent transparent;
}

.intro__title {
  font-family: "PlayfairDisplaySC";
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 48px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.intro__title.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.intro__info {
  max-width: 350px;
  line-height: 150%;
  font-size: 20px;
}

.intro__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  max-width: 250px;
  color: #fff;
  border: 1px solid #ffffff;
  padding: 17px 30px;
  font-size: 20px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}

.about__info {
  font-weight: 600;
  line-height: 150%;
  font-size: 20px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about__info.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__list li {
  position: relative;
  margin-left: 15px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about__list li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 2px;
  top: 50%;
  left: -15px;
  background-color: #fff;
}

.about__list li.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.about__list li:nth-child(1) {
  -webkit-transition: all 0.65s ease 0.2s;
  -o-transition: all 0.65s ease 0.2s;
  transition: all 0.65s ease 0.2s;
}

.about__list li:nth-child(2) {
  -webkit-transition: all 0.65s ease 0.4s;
  -o-transition: all 0.65s ease 0.4s;
  transition: all 0.65s ease 0.4s;
}

.about__list li:nth-child(3) {
  -webkit-transition: all 0.65s ease 0.6s;
  -o-transition: all 0.65s ease 0.6s;
  transition: all 0.65s ease 0.6s;
}

.about__list li:nth-child(4) {
  -webkit-transition: all 0.65s ease 0.8s;
  -o-transition: all 0.65s ease 0.8s;
  transition: all 0.65s ease 0.8s;
}

.about__list li:nth-child(5) {
  -webkit-transition: all 0.65s ease 1s;
  -o-transition: all 0.65s ease 1s;
  transition: all 0.65s ease 1s;
}

.about__column-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 580px;
          flex: 1 1 580px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 45px;
}

.about__image {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 550px;
          flex: 1 1 550px;
  margin-right: 20px;
  opacity: 0;
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.about__image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__image.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

/* Benefits */

.benefits {
  display: -ms-grid;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  -ms-grid-columns: 1fr minmax(auto, 1260px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1260px) 1fr;
}

.benefits__inner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.benefits__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-auto-rows: 1fr;
  gap: 50px;
  margin-bottom: 120px;
}

.benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 30px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.benefits__item.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.benefits__item-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70px;
          flex: 0 0 70px;
  height: 70px;
}

.benefits__item-content h4 {
  font-size: 20px;
  line-height: 150%;
  font-weight: 600;
  margin-bottom: 15px;
}

.benefits__item-content p {
  font-size: 16px;
  line-height: 150%;
  font-weight: 500;
}

.benefits__item:nth-child(1) {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.benefits__item:nth-child(1).active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.benefits__item:nth-child(3) {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.benefits__item:nth-child(3).active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.benefits__item:nth-child(5) {
  -webkit-transform: translate(100%, 0);
      -ms-transform: translate(100%, 0);
          transform: translate(100%, 0);
}

.benefits__item:nth-child(5).active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.benefits__info {
  gap: 60px;
}

.benefits__info .benefits__info-column-text {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.benefits__info .benefits__info-column-iamge {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* About Work */

.working {
  display: -ms-grid;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  -ms-grid-columns: 1fr minmax(auto, 1260px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1260px) 1fr;
}

.working__inner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

/*  */

.projects {
  display: -ms-grid;
  display: grid;
  padding-left: 20px;
  padding-right: 20px;
  -ms-grid-columns: 1fr minmax(auto, 1260px) 1fr;
  grid-template-columns: 1fr minmax(auto, 1260px) 1fr;
}

.projects__inner {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.projects__items {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  justify-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 70px;
}

.projects__item {
  width: 100%;
  margin-right: 10px;
  opacity: 0;
  -webkit-transform: translate(-100%, 0);
      -ms-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.projects__item .image {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
}

.projects__item .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.projects__item .image::before {
  top: 10px;
  left: 10px;
}

.projects__item p {
  max-width: 290px;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin: 25px auto;
}

.projects__item.active {
  opacity: 1;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

@media (min-width: 767px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 60px;
  }

  .menu__list > li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 768px) {
  .intro-bottom {
    gap: 25px;
  }
}

@media (max-width: 1260px) {
  .title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 940));
  }

  .title {
    margin-bottom: calc(40px + 70 * ((100vw - 320px) / 940));
  }

  .subtitle {
    font-size: calc(24px + 12 * ((100vw - 320px) / 940));
  }

  .padding {
    padding-top: calc(40px + 80 * ((100vw - 320px) / 940));
  }

  .padding {
    padding-bottom: calc(40px + 80 * ((100vw - 320px) / 940));
  }

  .menu__link {
    font-size: calc(14px + 2 * ((100vw - 320px) / 940));
  }

  .header__button {
    margin-left: calc(0px + 60 * ((100vw - 320px) / 940));
  }

  .footer__text,
  .footer__link,
  .footer__title {
    font-size: calc(12px + 4 * ((100vw - 320px) / 940));
  }

  .intro-suptitle {
    font-size: calc(12px + 8 * ((100vw - 320px) / 940));
  }

  .intro-suptitle-caption {
    font-size: calc(12px + 2 * ((100vw - 320px) / 940));
  }

  .intro-bottom-right {
    gap: calc(20px + 40 * ((100vw - 320px) / 940));
  }

  .intro__title {
    font-size: calc(24px + 24 * ((100vw - 320px) / 940));
  }

  .intro__info {
    font-size: calc(12px + 8 * ((100vw - 320px) / 940));
  }

  .intro__button {
    font-size: calc(12px + 8 * ((100vw - 320px) / 940));
  }

  .about__inner {
    gap: calc(30px + 30 * ((100vw - 320px) / 940));
  }

  .about__info {
    font-size: calc(12px + 8 * ((100vw - 320px) / 940));
  }

  .about__column-text {
    gap: calc(20px + 25 * ((100vw - 320px) / 940));
  }

  .benefits__items {
    margin-bottom: calc(40px + 80 * ((100vw - 320px) / 940));
  }

  .benefits__item-content h4 {
    font-size: calc(14px + 6 * ((100vw - 320px) / 940));
  }

  .benefits__item-content p {
    font-size: calc(12px + 4 * ((100vw - 320px) / 940));
  }

  .benefits__info {
    gap: calc(60px + 0 * ((100vw - 320px) / 940));
  }

  .projects__items {
    row-gap: calc(40px + 30 * ((100vw - 320px) / 940));
  }

  .projects__item p {
    font-size: calc(12px + 8 * ((100vw - 320px) / 940));
  }
}

@media (max-width: 1000px) {
  .about__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .about__column-text {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .about__image {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media (max-width: 767px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    z-index: 5;
    cursor: pointer;
  }

  .menu__icon::before,
  .menu__icon::after,
  .menu__icon span {
    position: absolute;
    width: 100%;
    height: 10%;
    left: 0;
    background-color: #fff;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  .menu__icon::before,
  .menu__icon::after {
    content: "";
  }

  .menu__icon::before {
    top: 0;
  }

  .menu__icon::after {
    bottom: 0;
  }

  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0, -50%);
        -ms-transform: scale(1) translate(0, -50%);
            transform: scale(1) translate(0, -50%);
  }

  .menu__icon.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .menu__icon.active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu__icon.active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #273947;
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .menu__body.active {
    left: 0;
  }

  .menu__body.active::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 90px;
    z-index: 5;
    background-color: #273947;
  }

  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__list > li {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }

  .menu__list > li:not(:last-child) {
    margin-bottom: 30px;
  }

  .menu__list > li.active .menu__sub-list {
    display: block;
  }

  .menu__link {
    font-size: 24px;
  }

  .footer__wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
  }

  .footer__info {
    text-align: center;
  }

  .footer__links {
    text-align: center;
  }

  .footer__contact {
    -ms-grid-column-align: stretch;
        justify-self: stretch;
    text-align: center;
  }

  .intro-bottom {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .intro-bottom-right .intro-buttom-background {
    border-width: 0 420px 378px 0;
  }
}

@media (max-width: 480px) {
  .intro-bottom-right .intro-buttom-background {
    border-width: 0 320px 280px 0;
  }
}

@media (min-width: 767px) and (max-width: 1260px) {
  .menu__list {
    gap: calc(0px + 60 * ((100vw - 320px) / 940));
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    opacity: 1;
    color: #f07f18;
  }

  .header__button:hover {
    opacity: 1.1;
    background-color: #f07f18;
    border-color: #f07f18;
    color: #fff;
  }

  .footer__button:hover {
    background-color: #f07f18;
    border-color: #f07f18;
  }

  .intro__button:hover {
    opacity: 1.1;
    background-color: #273947;
    border-color: #273947;
    color: #fff;
  }

  .benefits__item:nth-child(1) {
    -webkit-transition: all 0.8s ease 0.2s;
    -o-transition: all 0.8s ease 0.2s;
    transition: all 0.8s ease 0.2s;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  .benefits__item:nth-child(1).active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .benefits__item:nth-child(2) {
    -webkit-transition: all 0.8s ease 0.4s;
    -o-transition: all 0.8s ease 0.4s;
    transition: all 0.8s ease 0.4s;
  }

  .benefits__item:nth-child(3) {
    -webkit-transition: all 0.8s ease 0.6s;
    -o-transition: all 0.8s ease 0.6s;
    transition: all 0.8s ease 0.6s;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  .benefits__item:nth-child(3).active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .benefits__item:nth-child(4) {
    -webkit-transition: all 0.8s ease 0.8s;
    -o-transition: all 0.8s ease 0.8s;
    transition: all 0.8s ease 0.8s;
  }

  .benefits__item:nth-child(5) {
    -webkit-transition: all 0.8s ease 1s;
    -o-transition: all 0.8s ease 1s;
    transition: all 0.8s ease 1s;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  .benefits__item:nth-child(5).active {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .benefits__item:nth-child(6) {
    -webkit-transition: all 0.8s ease 1.2s;
    -o-transition: all 0.8s ease 1.2s;
    transition: all 0.8s ease 1.2s;
  }

  .projects__item:nth-child(1) {
    -webkit-transition: all 0.65s ease 0.2s;
    -o-transition: all 0.65s ease 0.2s;
    transition: all 0.65s ease 0.2s;
  }

  .projects__item:nth-child(2) {
    -webkit-transition: all 0.65s ease 0.4s;
    -o-transition: all 0.65s ease 0.4s;
    transition: all 0.65s ease 0.4s;
  }

  .projects__item:nth-child(3) {
    -webkit-transition: all 0.65s ease 0.6s;
    -o-transition: all 0.65s ease 0.6s;
    transition: all 0.65s ease 0.6s;
  }

  .projects__item:nth-child(4) {
    -webkit-transition: all 0.65s ease 0.8s;
    -o-transition: all 0.65s ease 0.8s;
    transition: all 0.65s ease 0.8s;
  }

  .projects__item:nth-child(5) {
    -webkit-transition: all 0.65s ease 1.2s;
    -o-transition: all 0.65s ease 1.2s;
    transition: all 0.65s ease 1.2s;
  }

  .projects__item:nth-child(6) {
    -webkit-transition: all 0.65s ease 1.4s;
    -o-transition: all 0.65s ease 1.4s;
    transition: all 0.65s ease 1.4s;
  }

  .projects__item:nth-child(7) {
    -webkit-transition: all 0.65s ease 1.6s;
    -o-transition: all 0.65s ease 1.6s;
    transition: all 0.65s ease 1.6s;
  }

  .projects__item:nth-child(8) {
    -webkit-transition: all 0.65s ease 1.8s;
    -o-transition: all 0.65s ease 1.8s;
    transition: all 0.65s ease 1.8s;
  }
}

@media (any-hover: none) {
  .header__button {
    margin-left: 0;
  }
}